Firmware/Unused in prototype/Network Back-end/Node-Red flows/Basic flow.json
[{"id":"e7969927.874a68","type":"inject","z":"bdaeb421.291718","name":"LED on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" {     \"value\":    1 }","payloadType":"json","x":870,"y":340,"wires":[["55fe3c5f.cc9e74"]]},{"id":"4ec6369e.3d33e8","type":"http request","z":"bdaeb421.291718","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1390,"y":380,"wires":[["af6061f7.8a859"]]},{"id":"af6061f7.8a859","type":"debug","z":"bdaeb421.291718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":380,"wires":[]},{"id":"e9081d77.36abc","type":"http in","z":"bdaeb421.291718","name":"","url":"/oap","method":"post","upload":false,"swaggerDoc":"","x":860,"y":100,"wires":[["f94fed3f.3551","82fe57e2.f401e8"]]},{"id":"f94fed3f.3551","type":"http response","z":"bdaeb421.291718","name":"","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"dbf1e0b5.57b7","type":"inject","z":"bdaeb421.291718","name":"LED off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":0}","payloadType":"json","x":870,"y":420,"wires":[["55fe3c5f.cc9e74"]]},{"id":"53dd58f1.a26eb8","type":"debug","z":"bdaeb421.291718","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":520,"wires":[]},{"id":"5baa271b.569528","type":"inject","z":"bdaeb421.291718","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":880,"y":520,"wires":[["7bb5994a.e7fe98"]]},{"id":"7bb5994a.e7fe98","type":"function","z":"bdaeb421.291718","name":"","func":"msg=\n{\n    \"manager\": 0,\n    \"command\": \"sendData\",\n    \"fields\": {\n        \"macAddress\": \"00-17-0d-00-00-32-23-d3\",\n        \"priority\": 0,\n        \"srcPort\": 0xf0b9,\n        \"dstPort\": 0xf0b9,\n        \"options\": 0,\n        \"data\":   [0x05,0x00,0x02,0xff,0x02,0x03,0x02,0x00,0x01,0x01]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":520,"wires":[["7f34c4ee.60ef2c"]]},{"id":"7f34c4ee.60ef2c","type":"http request","z":"bdaeb421.291718","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8080/api/v1/oap/00-17-0d-00-00-32-23-d3/digital_out/INDICATOR_0,","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":520,"wires":[["53dd58f1.a26eb8"]]},{"id":"90cdc88e.03a098","type":"function","z":"bdaeb421.291718","name":"","func":"msg.url = \"http://127.0.0.1:8080/api/v1/oap/\"\n                                +msg.mac+\n                    \"/digital_out/INDICATOR_0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":380,"wires":[["4ec6369e.3d33e8"]]},{"id":"55fe3c5f.cc9e74","type":"change","z":"bdaeb421.291718","name":"","rules":[{"t":"set","p":"mac","pt":"msg","to":"00-17-0d-00-00-32-dc-61","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":380,"wires":[["90cdc88e.03a098"]]},{"id":"82fe57e2.f401e8","type":"debug","z":"bdaeb421.291718","name":"OAP data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":100,"wires":[]},{"id":"b4a3e1f7.35d3f","type":"debug","z":"bdaeb421.291718","name":"network events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":180,"wires":[]},{"id":"b92b0948.51e768","type":"debug","z":"bdaeb421.291718","name":"health report","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":260,"wires":[]},{"id":"93b40ef7.3db67","type":"http in","z":"bdaeb421.291718","name":"","url":"/event","method":"post","upload":false,"swaggerDoc":"","x":870,"y":180,"wires":[["5bede934.009298","b4a3e1f7.35d3f"]]},{"id":"5bede934.009298","type":"http response","z":"bdaeb421.291718","name":"","statusCode":"","headers":{},"x":1010,"y":220,"wires":[]},{"id":"d07d3430.78f258","type":"http in","z":"bdaeb421.291718","name":"","url":"/hr","method":"post","upload":false,"swaggerDoc":"","x":860,"y":260,"wires":[["99187625.78c538","b92b0948.51e768"]]},{"id":"99187625.78c538","type":"http response","z":"bdaeb421.291718","name":"","statusCode":"","headers":{},"x":1010,"y":300,"wires":[]}]